table{
width: 50%;
border: 1px solid blue;
text-align: center;
float: middle;
margin-left: auto;
margin-right: auto;
}

th{
height: 50px;
border: 1px solid blue;
text-align: center;
}

td{
border: 1px solid blue;
text-align: center;
}

tr{
border: 1px solid blue;
text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

h1{text-align: center;
font-size: 44px;
font-family: "Arial", Helvetica, sans-serif;
background-color: #f2f2f2;
}

ul{list-style-type: none;}

div{display: block;
text-align: center;}

label{
float: center;
display: block;
margin: 2px;}

input{
float: center;
height: 25px;
font-size: 14px;
border: 1px solid blue;}

a:link{text-decoration: none;}
a:hover{color: blue;}
a:visited{color:blue;}
p{text-align: center;}

button{
background-color: #f2f2f2;
border: 1px;
padding: 10px 10px;
font-size: 16px;}

.sidebar{
float: left;
width: 25%;
background-color: blue;
height: 100%;
position: fixed;
padding-top: 20px;}




